<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Comparisons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />    
    <link rel="stylesheet" type="text/css" media="screen" href="../styles.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class='container headerbox'>Comparisons</div>
    <div class='row'>
            <div class='col'>
                <img class="align-self-center img" src='../images/temp_lat.png' height='550' width='600'>
            </div>
            
            <div class='col'>
                <img class="align-self-center img" src='../images/humidity_lat.png' alt='humidity and latidude'height='550' width='600'>
                </div>
            </div>
    <div class='row'>
        <div class='col'>
            <img class= 'img' src='../images/pressure_lat.png' alt='Pressure and Latitude' height='550' width='600'>
        </div>
        
        <div class='col'>        
            <img class= 'img' src='../images/wind_lat.png' alt='wind speed and latitude' height='550' width='600'>   
        </div>
        <div class='col'>
            <img class= 'img' src='../images/vis_lat.png' alt='visibility and latitude' height='550' width='600'>
        </div>
    </div>
    
</body>
</html>

 
