<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />    
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class='row bg-primary'>
        <div class='col-md-6 bg-success'></div>
        <div class='col-md-6 bg-warning'></div>
        
    </div>
    <div class='row bg-secondary'>
        <div class='col-md-6 bg-warning'></div>
        <div class='col-md-6 bg-success'></div>
    </div>
    
</body>
</html>