<!DOCTYPE html>
<html class='main'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Temperature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />        
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
        <div class='row bg-primary' >
                <div class='col col-md-offset-5'>
                    <div class='headerbox '> 
                        <h1 href='../index.html'> WeatherPy </h1> 
                        <h1 class='lead'>Comparisons</h1>
                    </div>
                </div>
            
                <div class='col'>
                        <span class="align-middle">
                        <a class="btn btn-outline-default mt-3" type="button" href="../templates/visualizations.html">Visualizations</a>
                        <a class="btn btn-outline-default mt-3" type="button" href="../templates/comparisons.html">Comparisons</a>
                        <a class="btn btn-outline-default mt-3" type="button" href="../templates/data.html">Data</a>
                      </span>
                    </div>
            </div>

    <div class='container'>
        <div class='col'>
            <img src="../images/hum_lat.png" alt='temperature vs latitude' width=800, height=800>

        </div>
        <div class='col'>
            <p class='lead'> information about temperature and latitude</p>
        </div>
    </div>
    
</body>
</html>