<!DOCTYPE html>
<html class='main'>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Temperature</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />        
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div class='container'>
        <div class='col'>
            <img src="../images/wind_lat.png" alt='windspeed vs latitude' width=800, height=800>

        </div>
        <div class='col'>
            <p class='lead'> information about temperature and latitude</p>
        </div>
    </div>
    
</body>
</html>